@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    background-color: #f8f8f8;
}

h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}
